* {
  margin: 0px;
  padding: 0px;
  background-color: #0d1b2a;
  color: #e0e1dd;
}

.heading {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #e0e1dd;
}
