@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #e0e1dd;
  background-color: #0d1b2a;
}

.heading {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #e0e1dd;
}

.main-container {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.Card {
  height: 380px;
  width: 280px;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  margin-top: 50px;
  border-radius: 10px;
}

.Click {
  cursor: pointer;
  border: 2px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Click img {
  height: 255px;
  width: 274px;
}

.movie-name {
  margin-bottom: 12px;
  margin-left: 10px;
  font-size: 1.2rem;
}

.bottom-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid white;
}

.plus-button {
  border: none;
  margin-bottom: 30px;
  padding: 3px;
  font-size: 2rem;
  margin-right: 30px;
  margin-top: 30px;
}

.outer-div {
  display: flex;
}

.select-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-search-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.watch-later-btn {
  border: 2px solid #e0e1dd;
  background-color: #778da9;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 40px;
  padding: 7px;
  border-radius: 12px;
  opacity: 0.5;
}

.watch-later-btn:hover {
  opacity: 1;
}

.search-input {
  width: 300px;
  padding: 15px;
  font-weight: 600;
  margin: 2rem 0 0 4rem;
  background-color: #778da9;
  color: black;
  font-size: 1.2rem;
  border: 3px solid transparent;
  border-radius: 15px;
}

.search-input:hover {
  border: 3px solid #e0e1dd;
}

::placeholder {
  color: black;
}

.div {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #e0e1dd;
  padding: 15px;
  margin-top: 15px;
}

span {
  margin-top: 10px;
  font-size: small;
}

.button {
  border: 2px solid #778da9;
  padding: 5px;
  margin-top: 10px;
  background-color: #415a77;
  color: black;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.5;
  transition: 0.3s;
}

.button:hover {
  opacity: 1;
  box-shadow: 2px 2px #e0e1dd;
}

select {
  padding: 10px;
  margin-left: 100px;
  border: 2px solid #e0e1dd;
  font-weight: 500;
  border-radius: 7px;
}

.Watch-later-div {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid #e0e1dd;
}

.fa-check {
  color: white;
}

.delete-button {
  border: none;
  margin-bottom: 30px;
  padding: 3px;
  font-size: 2rem;
  margin-right: 30px;
  margin-top: 30px;
  color: red;
}
